.Main-background {
    background-color: #f9f1e9;
    height: 100vh;
    /* min-height: 100vh; */
}

.Main-Logo {
    width: 3%;
    position: fixed;
    left:1.5%;
    top:2%;
    opacity: 70%;
}

.Main-Image {
    width: 50%;
    position: absolute;
    left:10%;
    top:15%;
    filter: drop-shadow(10px 10px 10px rgb(118, 118, 118));
    -webkit-animation: fade-in 2.0s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 2.0s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.Main-Text-Div-01 {
    text-align: right;
    width: 40%;
    height: 30%;
    position: absolute;
    float: right;
    top: 30%;
    right: 8%;
    white-space: pre-wrap;
}

.Main-Button-Div-01 {
    text-align: right;
    width: 20%;
    height: 10%;
    position: relative;
    float: right;
    top: 60%;
    right: 8%;
}

.Main-Text-01 {
    font-size: 7.0vh;
    opacity: 70%;
    -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0.5s both;
	        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0.5s both;
}

.Main-Text-02 {
    font-size: 3.0vh;
    color: gray;
    position:relative;
    top:10%;
    -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1.0s both;
	        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1.0s both;
}

.Main-Button-01 {
    background-color: black;
    color: white;
    font-size: 2.0vh;
    width: 40%;
    height: 50%;
    position: relative;
    top: 30%;
    opacity: 70%;
    border-radius: 20px;
    -webkit-animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1.5s both;
	        animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1.5s both;
}






/* Animation */

@-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  

  @-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }

